# External clock
set_io --warn-no-port clk12Mhz 35

# Use button UButton as reset
set_io --warn-no-port reset 10

# Use button 3 as external interrupt
set_io --warn-no-port extInt 18

# The use the centered red led for pwm 
set_io --warn-no-port pwmLeds[0] 26

# Green leds
set_io --warn-no-port leds[0] 27 
set_io --warn-no-port leds[1] 25
set_io --warn-no-port leds[2] 23
set_io --warn-no-port leds[3] 21

# PmodA connected to PMOD1A
set_io --warn-no-port pmodA[0]  4 
set_io --warn-no-port pmodA[1]  2
set_io --warn-no-port pmodA[2] 47
set_io --warn-no-port pmodA[3] 45
set_io --warn-no-port pmodA[4] 44
set_io --warn-no-port pmodA[5] 47
set_io --warn-no-port pmodA[6] 48
set_io --warn-no-port pmodA[7]  3

# PmodUSBUART connected to P3 (upper row of P3)
set_io --warn-no-port rx 6
set_io --warn-no-port tx 9

# JTAG connected to P4 (lower row of P4)
set_io --warn-no-port tck 25
set_io --warn-no-port tdi 23 
set_io --warn-no-port tdo 21
set_io --warn-no-port tms 20
