target/
gen/
lib/
.idea/
vprj/VHDL/J1Sc/J1Sc.cache
vprj/VHDL/J1Sc/J1Sc.hw
vprj/VHDL/J1Sc/J1Sc.ip_user_files
vprj/VHDL/J1Sc/J1Sc.sim
vprj/VHDL/J1Sc/J1Sc.runs/
toolchain/forth/build/nuc.hex
toolchain/forth/build/nuc.lst

