log
obj_dir/
build/
*.vcd
.idea/
gen/
lib/
project/
target/
toolchain/forth/nuc.fs.orig
vprj/vhdl/J1Sc/J1Sc.cache/
vprj/vhdl/J1Sc/J1Sc.hw/
vprj/vhdl/J1Sc/J1Sc.ip_user_files/
vprj/vhdl/J1Sc/J1Sc.runs/
vprj/vhdl/J1Sc/J1Sc.sim/
vprj/vhdl/J1Sc/J1Sc.srcs/
vprj/verilog/J1Sc/J1Sc.cache/
vprj/verilog/J1Sc/J1Sc.hw/
vprj/verilog/J1Sc/J1Sc.ip_user_files/
vprj/verilog/J1Sc/J1Sc.runs/
vprj/verilog/J1Sc/J1Sc.sim/
vprj/verilog/J1Sc/J1Sc.srcs/
toolchain/forth/shell/__pycache__/
toolchain/forth/shell/dpansf.pyc
toolchain/forth/shell/swapforth.pyc

